<div>
    <h2>Lista de razas Guild War II</h2>
    {{#each characters}}
    <div>
        <a href="/characters/{{this.name}}">
            <b>{{this.name}}</b>
            <img src="{{this.photo}}">
        </a>
    </div>
    {{/each}}
</div>