<div>
    <form action="/characters" method="post">
        <div>
            <label>Name</label>
            <input name="name">
        </div>
        <div>
            <label>Photo</label>
            <input name="photo">
        </div>
        <button type="submit"></button>
    </form>
</div>